{
  "getAllItemsFunction": {
    "DB_TABLE": "MatatauTable"
  },
  "getByIdFunction": {
    "DB_TABLE": "MatatauTable"
  },
  "putItemFunction": {
    "ITEM_QUEUE": "<SQS-QUEUE-NAME>"
  },
  "writeItemFunction": {
    "DB_TABLE": "MatatauTable"
  }
}
