{
    "getAllItemsFunction": {
        "MAATAU_TABLE": "<TABLE-NAME>"
    },
    "getByIdFunction": {
        "MAATAU_TABLE": "<TABLE-NAME>"
    },
    "putItemFunction": {
        "ITEM_QUEUE": "<SQS-QUEUE-NAME>"
    },
    "writeItemFunction": {
        "MAATAU_TABLE": "<TABLE-NAME>"
    }
}
