{
  "getAllItemsFunction": {
    "AWS_SAM_LOCAL": true,
    "MAATAU_TABLE": "<TABLE-NAME>"
  },
  "getByIdFunction": {
    "AWS_SAM_LOCAL": true,
    "MAATAU_TABLE": "<TABLE-NAME>"
  },
  "putItemFunction": {
    "AWS_SAM_LOCAL": true,
    "ITEM_QUEUE": "<SQS-QUEUE-NAME>"
  },
  "writeItemFunction": {
    "AWS_SAM_LOCAL": true,
    "MAATAU_TABLE": "<TABLE-NAME>"
  }
}
